<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-red w3-display-container">
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-display-topright w3-hover-red w3-hover-opacity">&times;</span>
      <h2>Delete Employee</h2>
    </header>
    <div class="w3-container">
      <p>Are you sure to delete the employee of ID {{app.pendingActionEmployee.id}}? </p>
    </div>
    <footer class="w3-container w3-red">
      <p align="right"><button (click)="onDeleteYes()" >Yes</button>&nbsp;&nbsp;&nbsp;<button (click)="onDeleteNo()">No</button>&nbsp;&nbsp;&nbsp;</p>
    </footer>
  </div>
</div>

