<div id="id03" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-red w3-display-container">
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-xlarge w3-display-topright w3-hover-red w3-hover-opacity">&times;</span>
      <h2>Error</h2>
    </header>
    <div class="w3-container">
      <p>{{app.errorMsg}}</p>
    </div>
    <footer class="w3-container w3-red"><br><br></footer>
  </div>
</div>
