<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  <link href="./my_first_try.css" rel="stylesheet">-->

  <title>Xiong Yao</title>
</head>

<body>

<app-popup></app-popup>

<div class="containner">

  <div class="content">
    <div class="content-left">
      <img class="image1" alt="Loading" src="../assets/profile.jpg">
      <h1>James Brown</h1>
      <ul class="content-left-ul" style="list-style: none">
        <li *ngFor="let func of functions">
          <p><img class="image2" alt="Loading" src="../assets/image.png">{{func}}</p>
        </li>
      </ul>
    </div>
    <div class="content-right">
      <ag-grid-angular
        #myGrid
        style="height: 690px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount"
        [pagination]=true
        (cellClicked)="onCellClicked($event)"
        (gridReady)="onGridReady($event)"
        (paginationChanged)="onPaginationChanged()"
      >
      </ag-grid-angular>
    </div>
  </div>

</div>
</body>
</html>
